body {
  background-image: url("felt.png");
}
  #firebaseui-auth-container {
  font-size: 40px;
  padding-top: 200px;
  display: block;
  float: center;
}

header {
  float: left;
   margin: 0,0;
}

h1 {
  float: right;
  margin-right: 20%;
  margin-left: 5%;
  font-style: bold italic;
  font-family: cursive;
  font-size: 60px;
}